body{ 
    background-color: #f6e0e6;
    font-family: "Gill Sans", sans-serif;
    }

.general-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px;
    margin-top: 0px;
    padding-right: 50px;
}
/*container for title, input, and addbtn*/
.parallel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
}
/*title*/
    .topic{
        color: rgb(0, 0, 0);
        font-size: 150px;
        margin-bottom: 15px;
        padding-bottom: 0px;
        cursor: move;
        padding-left: 50px;
        margin-top: 5px;
    }
/*input styling*/
    .input {
        display: flex;
        flex-direction: column-reverse;
        width: 450px;
        border:#f5cece;
        color: white;
        text-align: center;
    }
    #input-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    input {
        margin: 20px;
        border: none;
        border-radius: 0;
        width: 200px;
        padding: 10px;
        float: left;
        font-size: 16px;
    }
    label{
        color:#555;
    }
/*addbtn*/
    .button-container{
        
        display: flex;
        flex-direction: column-reverse;
        margin: 20px;
        font-size: 16px;
    }
    .add {
        width: 100px;
        padding: 10px;
        background: #e9bfcd;
        color: #555;
        float: left;
        border-color:#eab9b9;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .add:hover {
        background-color: #bbb;
    }
/*list styling*/
    ul{
        list-style-type: none;
    }
    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        background: #ffffff;
        font-size: 18px;
        transition: 0.2s;
        width: 800px;
        margin: 20px;
    }
    ul li:hover {
        background: #f3afaf;
    }
    ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }
/*check mark*/
    ul li.checked::before {
        content: '✓';
        position: absolute;
        top: 10px;
        left: 16px;
    }
/*deletebtn*/
    .deleteBtn {
        position: absolute;
        width: 20px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        font-size: 20px;
        padding: 7px 25px 8px 16px;
        border:#888;
    } 
    .deleteBtn:hover {
        background-color: #f44336;
        color: white;
    }

/*menu styling*/
    a:link, a:visited{
        color: black;
    }
    a{
        text-decoration: none;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    /*recipe styling*/
    .recipe-container{
        display: flex;
        flex-direction: row-reverse;
        
    }
    .recipe-title {
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
    }
    .recipe-title:hover {
        font-size: 50px;
        background-color: #d6f1be;
    }
    /*fridge styling*/
    .fridge-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .fridge-title{
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: center;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
    }
    .fridge-title:hover {
        font-size: 50px;
        background-color: #d6f1be;
    }
    /*cart styling*/
    .cart-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .cart-title{
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
        background-color: #ecbed1;
    }
    .cart-title:hover {
        font-size: 50px;
        background-color: #d6f1be;
    }
    /*home styling*/
    .home-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .home-title{
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
    }
    .home-title:hover {
        font-size: 50px;
        background-color: #d6f1be;
    }
    