/* Darker background-color on hover */
  ul li:hover {
    background: #ffffff;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .delete:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    border:#f5cece;
    color: white;
    text-align: center;
    padding-bottom: 100px;
  }
  

  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .add {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

  body { 
    background-color: rgb(255, 255, 255);
    cursor: url('https://p1.hiclipart.com/preview/218/477/240/kitchen-knife-black-handle-knife-png-clipart.jpg') 50 50, pointer;
}
a:link, a:visited{
    color: black;
}
a{
    text-decoration: none;
}
.general-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px;
    margin-top: 0px;
    padding-right: 50px;
}
.menu-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-end;
}
.topic{
    color: rgb(0, 0, 0);
    font-size: 200px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 50px;
    cursor: move;
}
.recipe-container{
    display: flex;
    flex-direction: row-reverse;
    
}
.recipe-title {
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
  }
  
.recipe-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }
.fridge-container{
    display: flex;
    flex-direction: row-reverse;
}
.fridge-title{
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: center;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
}

.fridge-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }
.cart-container{
    display: flex;
    flex-direction: row-reverse;
}
.cart-title{
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
}

.cart-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }

.home-container{
    display: flex;
    flex-direction: row-reverse;
}
.home-title{
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
    background-color: #f4f4d8;
}

.home-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }

img{
    position: absolute;
    width: 200px;
    background-color: transparent;
}

#runaway3{
    width: 160px;
}