html {
    height: 100%;
}
body { 
    background-color: rgb(255, 255, 255);
    cursor: url(../assets/project-image/knife.png), pointer;
    min-height: 100%;
    font-family: "Gill Sans", sans-serif;
}
.cover-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header{
    color: rgb(0, 0, 0);
    font-size: 200px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 2px;
}
/*styling the menu*/
a{
    text-decoration: none;
}
a:link, a:visited{
    color: black;
}
.menu-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-end;
    width: 200px;
}
.recipe-container{
    display: flex;
    flex-direction: row-reverse;
    
}
.recipe-title {
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
  }
.recipe-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }
.fridge-container{
    display: flex;
    flex-direction: row-reverse;
}
.fridge-title{
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
}
.fridge-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }
.cart-container{
    display: flex;
    flex-direction: row-reverse;
}
.cart-title{
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
}
.cart-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }
.home-container{
    display: flex;
    flex-direction: row-reverse;
}
.home-title{
    font-size: 30px;
    position: relative;
    transition: font-size 1s;
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 50px;
    background-color: #f4f4d8;
}

.home-title:hover {
    font-size: 50px;
    background-color: #d6f1be;
  }

img{
    position: absolute;
    width: 200px;
    background-color: transparent;
}

#runaway3{
    width: 160px;
}

@media (max-width: 768px) {
    .header {
        font-size: 50px;
        transition: font-size 1s;
    }
    .recipe-title, .fridge-title, .cart-title, .home-title{
        font-size: 15px;
        transition: font-size 1s;
    }
    .recipe-title:hover, .fridge-title:hover, .cart-title:hover, .home-title:hover{
        font-size: 20px;
        transition: font-size 1s;
    }
}
