body{
    font-family: 'Verdana', serif;
}
.logo{
    width: 400px;
}
hr {
    height: 4px;
    background-color: black;
}
/*title*/
.productButton{
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 200;
}
.cartButton{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 200;
}
.productButton.active, .cartButton.active{
    background-color:rgb(255, 255, 123);
    font-weight: bold;
}
.sub-title{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: auto;
}
.topContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.topRightContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.topRightContainer hr{
    flex-grow: 1;
    margin-bottom: 30px;
}
.productnCart{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
    margin-bottom: 0px;
}
.productnCartSpace{
    border: 0px, 200px;
}
/*gallery blocks*/
.galleryDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    text-align: left;
}
.container img{
    width: 290px;
    border: 5px solid black;
}
.container p{
    font-size: 20px;
    margin: 5px;
    margin-left: 0px;
}
.container:hover{
    background-color: rgb(255, 255, 123);
}
.galleryProductName:hover{
    font-weight: bold;
}
/*link settings*/
a:link, a:visited{
    color: black;
}
a.no-underline{
    text-decoration: none;
  }
/*cart page*/
.cartContent{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 400px;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.itemInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: stretch;
}
.cartItemImageNDetail{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.price{
    display: flex;
    align-items: center;
}

.itemInfo img{
    width: 190px;
    border: 5px solid black;
}
.itemInfo p{
    font-size: 20px;
}
.checkoutInfo{
    display: flex;
    justify-content: flex-end;
    gap: 380px;
}
.checkout{
    font-size: 20px;
    background-color: yellow;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: 200;
    width: 150px;
}
.buttonDisplay{
    display: flex;
    justify-content: flex-end;
}
.remove{
    font-weight: bold;
    text-decoration-line: underline;
}
/*product detailed page*/
.productText{
    text-align: center;
    font-size: 20px;
}
.dropdown-menus{
    line-height: 2.5;
}
.menu{
    width: 150px;
    height: 40px;
    font-size: 100%;
}
.addingProduct{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 150px;
    height: 20px;
    margin-top: 20px;
    align-items: center;
    column-gap: 15px;
    font-size: 15px;
}
.add-button{
    background-color:rgb(255, 255, 123);
    padding: 5px;
}





