html {
    height: 100%;
    width: 100%;
}
body { 
    background-color: #f1e5b8; 
    min-height: 100%;
    background-image: url('/assets/project-image/note.jpg');
    background-size: cover;
    background-repeat: repeat-y; 
    font-family: "Gill Sans", sans-serif;
    background-attachment: fixed;
}
.cover-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.title-container{
    display: flex;
    flex-direction: row;
}
.header{
    color: rgb(0, 0, 0);
    font-size: 150px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    cursor: move;
    padding-left: 50px;
    margin-top: 5px;
}
#titleAndContent{
    display: flex;
    flex-direction: row;
}
/*vl styling*/
.vl {
    border-left: 2px solid rgb(195, 188, 164);
    height: 100%;
}
/*left navigation bar styling*/
.categories{
    display: flex;
    width: 100px;
    flex-direction: column;
    padding-top: 10px;
}
.categories a{
    margin-bottom: 20px;
    margin-right: 5px;
    padding-left: 5px;
    border: 1px solid rgb(189, 178, 159);
    background-color:#d2cbb4;
}
#left-content{
    display: flex;
    flex-direction: column;
    flex-grow: flex;
}
/*menu styling*/
    a:link, a:visited{
        color: black;
    }
    a{
        text-decoration: none;
    }
    .menu-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .recipe-container{
        display: flex;
        flex-direction: row-reverse;  
    }
    .recipe-title {
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
        background-color:rgb(223, 214, 181);
    } 
    .recipe-title:hover {
        font-size: 35px;
        background-color: #d6f1be;
    }
    .fridge-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .fridge-title{
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
    }

    .fridge-title:hover {
        font-size: 35px;
        background-color: #d6f1be;
    }
    .cart-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .cart-title{
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
    }
    .cart-title:hover {
        font-size: 35px;
        background-color: #d6f1be;
    }
    .home-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .home-title{
        font-size: 30px;
        position: relative;
        transition: font-size 1s;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius: 50px;
    }
    .home-title:hover {
        font-size: 35px;
        background-color: #d6f1be;
    }
/*sections of recipes styling*/
#sections{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.subtitles{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-recipe{
    font-size: 25px;
    height: 30px;
    border: 5px;
    margin-left: 30px;
    width: 40px;
    background: rgb(166, 137, 83);
    color: white;
    margin-right: 300px;
}
.add-recipe:hover{
    background-color:rgb(135, 128, 101);
}
.add-dessert{
    font-size: 25px;
    height: 30px;
    border: 5px;
    margin-left: 30px;
    width: 40px;
    background: rgb(166, 137, 83);
    color: white;
    margin-right: 200px;
}
.section-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
}
#section-content-main-course, #section-content-dessert, #section-content-drink{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
}
.recipe{
    padding: 10px;
    margin: 20px;
    background-color:rgb(195, 188, 159);
}
.recipe-name, .recipe-content {
    width: 95%;
    margin-bottom: 5px;
    padding: 8px;
    background-color:rgb(246, 240, 216);
}
.recipe-name {
    height: 40px; /* Fixed height for better alignment */
  }
.recipe-content {
    height: 100px;
    resize: vertical; /* Allows vertical resize only */
  }
.add-recipe, .delete-recipe {
    font-size: 16px;
    cursor: pointer;
}
.delete-recipe {
    background-color: #9a9292;
    color: white;
    border: none;
}

.delete-recipe:hover {
    background-color: #9c8653;
}
@media (max-width: 768px) {
    .header {
        font-size: 50px;
    }
    .recipe-title, .fridge-title, .cart-title, .home-title{
        font-size: 15px;
        transition: font-size 1s;
    }
    .recipe-title:hover, .fridge-title:hover, .cart-title:hover, .home-title:hover{
        font-size: 20px;
        transition: font-size 1s;
    }
}

